* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

.content {
  width: 480px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.map {
  height: 480px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.error {
  color: red;
}

.loading {
  position: relative;
}

.loading::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  padding-top: 50%;
  content: 'Loading...';
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #ffffff;
  font-size: 2em;
}